<body layout="row" >
    <div layout="column" flex id="content" role="main" ng-controller="LoginCtrl" >
			<md-content class="loginbg" layout="vertical" flex id="loginContent" layout-align="center center">
				<div layout="row" layout-align="center center" layout-fill>
					<md-whiteframe-1dp layout="column" flex="35" layout-padding>
						<md-content form name="projectForm" >
							<md-input-container class="md-block">
								<label>Username</label>
								<input required name="clientName" ng-model="username">
								<div ng-messages="projectForm.clientName.$error">
									<div ng-message="required">This is required.</div>
								</div>
							</md-input-container>
							<md-input-container class="md-block">
								<input ng-model="password" type="password" placeholder="Password" ng-required="true">
								<div ng-messages="projectForm.clientName.$error">
								<div ng-message="required">This is required.</div>
							</div>
							</md-input-container>
						<md-input-container layout-align="center center">
						<div layout="row" layout-sm="column" layout-margin>
						<md-button class="md-raised md-accent" ng-click="login()">Login</md-button>
	         		 </div>
          			
             </md-input-container>
    			 </form md-content>
    		   </md-whiteframe>
    		</div>	
  		</md-content>
   </div>
</body>
