<center><h1 class="filterHeaderCss">Filters</h1></center>
<div layout="row" layout-align="space-around center" layout-xs="6" layout-gt-xs="6" layout-sm="6" layout-gt-sm="6" >

<div class="inset" class="md-padding" ng-cloak>
                    <ng-md-icon icon="description"></ng-md-icon>
</div>
<md-select id="mg-courseSelector" ng-change="onCourseSelectValueChange(ddlvalue)"  data-ng-model="ddlvalue"  placeholder="Select courses"
                   md-on-close="clearSearchTerm()"
                   data-md-container-class="selectdemoSelectHeader"
                   multiple>
          <md-select-header class="demo-select-header">
            <input ng-model="searchTerm"
                   type="search"
                   placeholder="Search for a Courses"
                   class="demo-header-searchbox _md-text">
          </md-select-header>
          <md-optgroup label="courses">
            <md-option ng-value="course" ng-repeat="course in courses track by $index">{{course.title}}</md-option>
          </md-optgroup>
        </md-select>
                <div class="inset">
                    <ng-md-icon icon="people"></ng-md-icon>
                </div>
            <md-select  ng-change="onUserSelectValueChange(ddlvalue1)"  data-ng-model="ddlvalue1" placeholder="Select users"
                   md-on-close="clearSearchTerm()"
                   data-md-container-class="selectdemoSelectHeader"
                   multiple>
          <md-select-header class="demo-select-header">
            <input ng-model="searchTerm"
                   type="search"
                   placeholder="Search for a Users"
                   class="demo-header-searchbox _md-text">
          </md-select-header>
          <md-optgroup label="users">
            <md-option ng-value="user" ng-repeat="user in users track by $index">{{user.name}}</md-option>
          </md-optgroup>
        </md-select>

  <md-datepicker ng-model="startDate"  md-placeholder="Enter start date"></md-datepicker>

  <md-datepicker ng-model="endDate" md-placeholder="Enter end date"></md-datepicker>
  <md-button class="md-raised md-primary"  layout-align="end center" ng-click="submit()">Submit</md-button>
  </div>
  
  <div layout="row" layout-wrap  md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6">
   <div google-chart chart="chartObject" style="height:600px; width:100%;"></div>
  </div>
