<div layout="row" layout-align="space-between center" layout-xs="6" layout-gt-xs="6" layout-sm="6" layout-gt-sm="6" >
<h1>Filters</h1>
<i class="material-icons md-36">book</i>
<md-select ng-model="selectedCourses" placeholder="Select courses to filter"
                   md-on-close="clearSearchTerm()"
                   data-md-container-class="selectdemoSelectHeader"
                   multiple>
          <md-select-header class="demo-select-header">
            <input ng-model="searchTerm"
                   type="search"
                   placeholder="Search for a Courses.."
                   class="demo-header-searchbox _md-text">
          </md-select-header>
          <md-optgroup label="courses">
            <md-option ng-value="course" ng-repeat="course in courses |
              filter:searchTerm">{{course}}</md-option>
          </md-optgroup>
        </md-select>
        <i class="material-icons md-36">face</i>
  <md-select ng-model="selectedUsers" placeholder="Select users to filter"
                   md-on-close="clearSearchTerm()"
                   data-md-container-class="selectdemoSelectHeader"
                   multiple>
          <md-select-header class="demo-select-header">
            <input ng-model="searchTerm"
                   type="search"
                   placeholder="Search for a Users.."
                   class="demo-header-searchbox _md-text">
          </md-select-header>
          <md-optgroup label="users">
            <md-option ng-value="user" ng-repeat="user in users |
              filter:searchTerm">{{user}}</md-option>
          </md-optgroup>
        </md-select>      
  
  <md-datepicker ng-model="startDate"  md-placeholder="Enter start date"></md-datepicker>
  
  <md-datepicker ng-model="endDate" md-placeholder="Enter end date"></md-datepicker>
  <md-button class="md-raised md-primary">Submit</md-button>
  </div>

  <div layout="row" layout-wrap  md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6">
   
  
  <div google-chart chart="chartObject" style="height:600px; width:100%;"></div>
  </div>
  

